*{
    box-sizing: border-box;
    margin: 0;
}
header{
    width: 100%;
    height: 100vh;
    background-image: url(images/fitness.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    width: 100%;
    min-height: 100vh;
}
.header-nav-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 300px;
    width: 100%;
    font-size: 32px;
}
.vertical-gradient{
    background: linear-gradient(to bottom, #000000, #00000000);
}
.logo{
    height: 100px;
    width: 230px;
    background-image: url(images/img.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.header-contacts{
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: flex-end;
    color: aliceblue;
    font-size: 32px;
    margin-right: 20px;
}
.head-telephone{
    color: rgb(190, 0, 0);
    font-size: 12px;
    text-align: end;
    text-shadow:  3px rgb(255, 255, 255);
}
.navigation{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid white;
}
.navigation div{
    margin: 0 14px;
    font-size: 24px;
    text-shadow: 5px 5px 5px #1b0202;
} 
.navigation div:hover{
    color: red;
}
.info-block{
    width: 60%;
    height: 400px;
    background-color: #000000b2;
    color: white;
}
.container{
    padding: 4%;
    width: 100%;
    height: 100%;
}
.title{
font-size: 48px;
margin-bottom: 20px;
font-family: 'Bebas Neue', cursive;
}
.text{
    font-size: 20px;
    text-align: justify;
    font-family: 'Bebas Neue', cursive;
}
/*----------основная часть-------------*/
.window{
    width: 100%;
    height: 100vh;
    /*background-image: url(images/fitness.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
    background: radial-gradient(#521f1f 5%, black 100%);
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    /*background-color: aliceblue;*/
}

.fo-blocks{
    width: 48%;
    height: 94%;
    color: white;
    font-size: 40px;
    text-align:end;
}
.fo-blocks .container{
    background-color: #0000009a;
    font-family: 'Bebas Neue', cursive;
}
